html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.3;
  font-size: $font-lg;
  color: $veryDarkSaturatedBlue;
  background-color: $darkCyan;
  font-weight: 400;
  &.noscroll {
    overflow: hidden;
  }
}
//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
  &-ai-c {
    align-items: center;
  }
  &-fd-c {
    flex-direction: column;
  }
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: top -700px left -769px,
    /* this positions the first image */ bottom -700px right -769px; /* this positions the second image */
  background-repeat: no-repeat; /* this applies to both images */
}
