$darkCyan: hsl(185, 75%, 39%);
$veryDarkSaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$bold: 700;
$font-lg: 0.875rem; //14px
$font-md: 0.75rem; //12px
